.item-list{
    display: flex;
	flex-flow: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 30px 0 30px 0;

}
.category{
    text-align: center;
    margin: 30px 0 30px 0;
        
}
