.class-navbar {
    background-color: black;
    padding: 8px 16px;
  }
  
  .class-navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 16px;
  }
  
  .class-navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .class-navbar ul li a:hover {
    text-decoration: underline;
  }
  .class-navbar ul li h2{
      color: white;
  }